@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Comfortaa&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");


html, body {
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-y: auto;
  padding: 2em;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width:800px) {
  html, body {
    font-size: 1em;
  }
  main p{
    width: 100%;
    min-width: 500px;
  }
}

main {
  align-items: center;
  justify-content: space-between;
}

main h1 {
  font-size: 3em;
  flex: 1 100%;
}

main p{
  width: 40%;
}

footer {
  justify-content: space-between;
  gap: 3em;
}

footer ul {
  flex: 1 300px;
}

footer ul li:nth-child(1) {
  font-weight: 600;
}

footer ul li a {
  transition: all 0.5s ease;
}

footer ul li a::before {
  content: "—";
  margin-right: 0.2em;
}

footer ul li a:hover {
  padding-left: 0.2em;
}