@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Comfortaa&family=Comforter&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --loading-time: 0.3s;
  --ease-in-out: cubic-bezier(0.85, 0.09, 0.21, 0.97);
}

body::before {
  content: "";
  width: 100vw;
  height: 0;
  z-index: 2000;
  transform-origin: top;
  transition: all var(--loading-time) cubic-bezier(0.85, 0.09, 0.21, 0.97);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black);
  overflow: hidden;
}

body[loading]::before {
  content: "";
  height: 100vh
}

body[loading]::after {
  content: "Aset Studio";
  z-index: 10000;
  position: fixed;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Comforter', cursive;
  padding: var(--size1) var(--size5);
  font-size: 5rem;
  background-color: red;
  background: linear-gradient(125deg, var(--white) 30%, var(--gray-600) 40%, var(--white) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1.4s infinite linear;
  overflow: hidden;
}

body[loading] {
  overflow: hidden
}

@keyframes shine {
  0%{
    background-position: -150px;
  }
  60%, 100% {
    background-position: 280px
  }
}