:root {
  --fill-available: fill-available;
  --fill: var(--fill-available, 100%);
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  line-height: 0.70;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 64px;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav ul li {
  margin-right: 2rem;
}

ul {
  padding: 0;
  list-style: none;
}



a {
  color: black;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  display: block;
  background-color: black;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 0.7rem;
  height: 0.15em;
  transition: 0.2s ease;
}

a:hover::after {
  width: 100%;
}

#body {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 2em;
}

[center] {
  align-items: center;
  justify-content: center;
}

[flex] {
  display: flex;
}

[col] {
  flex-direction: column;
}

[row] {
  flex-direction: row;
}

[fill] {
  width: var(--fill);
  height: var(--fill);
}

[fill_] {
  width: 100%;
  height: 100%;
}

#msg {
  position: fixed;
  display: block;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1;
  background-color: black;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease;
  color: white;
}

[msgopen] #msg {
  bottom: 0;
  height: 50vh;
  min-height: 200px;

}

button {
  display: flex;
  height: 64px;
  min-width: 64px;
  padding: 1em;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.2em;
  background-color: black;
  color: white;
  outline: none;
  border: white 1px solid;
  position: relative;
  cursor: pointer;
}

section, article {
  padding-left: 1em;
}

#msgbtns {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 64px;
  min-width: 64px;
  transition: 0.2s ease;
  z-index: 1000;
  background-color: green;
  display: block;
  overflow: hidden;
  transform: translateY(100%);

}

[msgopen] #msgbtns {
  transform: translateY(0%);
}

#msgclose span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 2px;
  background-color: white;
  transform-origin: center;
  transform: translate(-50%, -50%) rotateZ(45deg);
  transition: 0.2s ease;
}

#msgclose span:nth-child(2) {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

#msgclose:hover span {
  width: 30%;
}

footer {
  display: block;
}

li {
  margin-bottom: 1em;
  width: fit-content;
}


/* collapsible */

label {
  display: block;
  height: fit-content;
  cursor: pointer;
}

label h1 {
  display: inline-block;
}

label:hover {
  color: red;
}

label::after {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-left: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

section[collapsible] {
  max-height: 0px;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

input[type="checkbox"]:checked+label::after {
  transform: rotate(90deg) translateX(-3px);
}

input[type="checkbox"]:checked+label+section[collapsible] {
  max-height: 100vh;
}

input[type="checkbox"] {
  display: none;
}